<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>
<h2>Products</h2>

<ul>
  <% @products.each do |product| %>
    <li><%= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top" %></li>
  <% end %>
</ul>

<hr>

<h2>Vendors</h2>

<% if @vendors.present? %>
  <ul>
    <% @vendors.each do |vendor| %>
      <li><%= vendor %></li>
    <% end %>
  </ul>
<% else %>
  <p>Sorry there are no orders</p>
<% end %>
